*{
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    position:relative;
    top:10px;
    left:20px;
    display: flex;
    flex-direction: column;
}
.fa-close{
    position: absolute;
    right: 30px;
}
.list{
    margin-left: 30px;
    padding-top: 30px;
    width:400px;
}
.select-field{
    border-bottom: 1px solid lightgray;
    width: 400px;
    margin-left: 30px;
}
.item{
    position: relative;
    border: 1px solid lightgrey;
    padding: 10px;
    margin-bottom:5px;
}
input[type=text]{
    border: none;
    outline: none;
}

input[type=checkbox]{
position:absolute;

right:5px;
border-radius:30px;

}
.item input ~ label{
    cursor: pointer;
}
.item input ~ label .fa-user{
    color:lightgray;
    }
.item input:checked ~ label{
    font-weight: bold;
}
.item input:checked ~ label .fa-user{
    color: black;
}
.item input[type=checkbox]{
appearance: none;
    cursor: pointer;
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50px;
    background-color: white;
    outline: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item input[type=checkbox]:checked{
    outline: 1px solid rgb(136, 226, 75);
}
.item input[type=checkbox]:checked::after{
content: "\f00c";
font-weight: 900;
font-size: 15px;
font-family: "Font Awesome 5 Free";
color:rgb(136, 226, 75);
}

.buttons{
   position: relative;
   top:20px;
   left:140px;
   width:300px;
}
button{
width: 100px;
height: 35px;
background-color:white ;
cursor:pointer;
color:rgb(168, 161, 161);
border: none;
outline: 1px solid lightgrey;
border-radius: 5px;
margin: 5px;
display: inline-block;
content: '';
}
button:focus,button:active{
    background-image:linear-gradient(45deg,lightblue , rgb(56, 56, 212));
    font-weight: bold;
    color:white;
    text-transform: uppercase;
}
